#guess {
  width: 250px;
}

.canvas {
  border: 1px solid black;
  margin: 0 auto;
  display: block;
  margin: auto;
}

.player-details {
  float: left;
}

.player-details.currentPlayer {
  float: right;
}

.guess-box {
  display: none;
}

.guess-box.currentPlayer {
  display: inline;
}

